<div class="features">
  <div class="features__header">
    <h2 class="features__header__text">
      Within our recruitment process, as a candidate …
    </h2>
  </div>
  <div class="features__cards features__cards__320">
    <div class="features__cards__card features__cards__first">
      <img src="./assets/img/You_will_get.svg" alt="" />
      <h2>You will get</h2>
      <p>The fast feedback on every stage of the recruitment</p>
      <hr />
      <p>Timesaving productive interviews</p>
      <hr />
      <p>
        Opportunity to get acquainted with the future project, your team
        colleagues, and CEO in advance chance of receiving the job offer on the
        same day of your interview
      </p>
    </div>
    <div class="features__cards__card features__cards__second"></div>
    <div class="features__cards__change">
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </div>
  <!-- 1440 -->
  <div class="features__cards features__cards__1440">
    <div class="features__cards__card features__cards__first">
      <img src="./assets/img/You_will_get.svg" alt="" />
      <h2>You will get</h2>
      <ul>
        <li>
          <img
            class="features__cards__first__icon"
            src="./assets/img/yes24.svg"
            alt=""
          />
          <p>The fast feedback on every stage of the recruitment</p>
        </li>
        <hr />

        <li>
          <img
            class="features__cards__first__icon"
            src="./assets/img/yes24.svg"
            alt=""
          />
          <p>Timesaving productive interviews</p>
        </li>
        <hr />

        <li>
          <img
            class="features__cards__first__icon"
            src="./assets/img/yes24.svg"
            alt=""
          />
          <p>
            Opportunity to get acquainted with the future project, your team
            colleagues, and CEO in advance chance of receiving the job offer on
            the same day of your interview
          </p>
        </li>
      </ul>
    </div>
    <div class="features__cards__card features__cards__second">
      <img src="./assets/img/You_will_not.svg" alt="" />
      <h2>You will not get</h2>
      <ul>
        <li>
          <img
            class="features__cards__first__icon"
            src="./assets/img/no24.svg"
            alt=""
          />
          <p>Huge exhausted free tests</p>
        </li>
        <hr />

        <li>
          <img
            class="features__cards__first__icon"
            src="./assets/img/no24.svg"
            alt=""
          />
          <p>
            Long-awaited pauses in communication with us multiple interviews
            from our side
          </p>
        </li>
        <hr />

        <li>
          <img
            class="features__cards__first__icon"
            src="./assets/img/no24.svg"
            alt=""
          />
          <p>Bullshit</p>
        </li>
        <hr />
        <li>
          <img
            class="features__cards__first__icon"
            src="./assets/img/no24.svg"
            alt=""
          />
          <p>Herassment</p>
        </li>
      </ul>
    </div>
  </div>
</div>
