<header class="header">
  <div class="header__nav">
    <div class="header__nav__logo">
      <img src="./assets/img/freysoft-logo-text.svg" alt="logo" />
    </div>
    <div class="header__nav__menu">
      <img
        class="header__nav__menu__phone"
        src="./assets/img/Vector.svg"
        alt="phone"
      />
      <img
        class="header__nav__menu__burger"
        src="./assets/img/menu_icon.svg"
        alt="burger"
      />
      <ul class="header__nav__menu__navigation">
        <li class="header__nav__menu__navigation__item">
          <a href="#"> Company</a>
        </li>
        <a href=""></a>
        <li class="header__nav__menu__navigation__item">
          <a href="#">Services</a>
        </li>
        <li class="header__nav__menu__navigation__item">
          <a href="#">Blog</a>
        </li>
        <li class="header__nav__menu__navigation__item">
          <a href="#">Career</a>
        </li>
      </ul>
      <button class="header__nav__menu__btn">Contact Us</button>
    </div>
  </div>
  <div class="header__title">
    <h1 class="header__title__content">We’ve got the job for you</h1>
    <p class="header__title__text">
      We offer experienced IT specialists to be involved in ground-breaking
      digital projects and IT novices to develop skills in our perspective
      workplace.
    </p>
  </div>
  <div class="header__gallery header__gallery__320">
    <ul class="header__gallery__list">
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1292-320.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1287-320.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1288-320.png" alt="" />
      </li>
    </ul>
    <ul class="header__gallery__list">
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1292-320.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1287-320.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1288-320.png" alt="" />
      </li>

    </ul>
    <ul class="header__gallery__list">
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1297-320.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1293-320.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1294-320.png" alt="" />
      </li>

    </ul>
  </div>
  <!-- 1440 -->
  <div class="header__gallery header__gallery__1440">
    <ul class="header__gallery__list">
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1292-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1287-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1288-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1289-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle1290-1440.png" alt="" />
      </li>
    </ul>
    <ul class="header__gallery__list">
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1292-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item"><button class="header__gallery__list__item__btn">See All Roles</butto></li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1288-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1289-1440.png" alt="" />
      </li>
    </ul>


    <ul class="header__gallery__list ">
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1297-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1293-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item">
        <img src="./assets/img/Rectangle_1294-1440.png" alt="" />
      </li>
      <li class="header__gallery__list__item"><img src="./assets/img/Rectangle_1295-1440.png" alt="" /></li>
      <li class="header__gallery__list__item"><img src="./assets/img/Rectangle_1296-1440.png" alt="" /></li>
    </ul>
  </div>
  <div class="header__btn"><button>See All Roles</button></div>
</header>
