<div class="recruitment">
  <div class="recruitment__process">
    <div class="recruitment__process__header">
      <h2>FreySoft Recruitment process</h2>
    </div>
    <div class="recruitment__process__content">
      <p>
        From the start, you will feel the responsive and effective process of
        recruiting. The main is bureaucracy-free environment inside the company.
      </p>
      <p>
        Identifying the right talent, attracting them, and motivating them to
        apply is what we strive for in our recruitment process. We have two key
        phases of hiring the candidate. After, you get either feedback or an
        offer.
      </p>
    </div>
  </div>
  <div class="recruitment__cards">
    <div class="recruitment__cards__first">
      <h3>Stage number 1</h3>
      <h2>Interview with an HR manager</h2>
      <p>
        We arrange the phone or video interview at your convenient time.
        Duration is on average 30-40 minutes. At this phase we are getting to
        know each other better, determining if the requisite qualifications fill
        the position and the candidate aligning with an organization’s culture
        and values.
      </p>
      <span>1</span>
      <div class="recruitment__cards__first__arrows">
        <img class="hill" src="./assets/img/stepsflow.svg" alt="" />
      </div>
    </div>
    <div class="recruitment__cards__second"></div>
    <div class="recruitment__cards__change">
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </div>
  <!-- 1440 -->
  <div class="recruitment__cards__1440">
    <div
      class="recruitment__cards__1440__first recruitment__cards__1440__cards"
    >
      <h3>Stage number 1</h3>
      <h2>Interview with an HR manager</h2>
      <p>
        We arrange the phone or video interview at your convenient time.
        Duration is on average 30-40 minutes. At this phase we are getting to
        know each other better, determining if the requisite qualifications fill
        the position and the candidate aligning with an organization’s culture
        and values.
      </p>
      <span>1</span>
    
    </div>
    <div
      class="recruitment__cards__1440__second recruitment__cards__1440__cards"
    >
      <h3>Stage number 2</h3>
      <h2>Technical examination</h2>
      <p>
        A tech interview can take about an hour. The date and time of the
        meeting will be agreed in advance for your convenience. This phase is a
        great opportunity for you to know about the stack and get acquainted
        with the lead or the team you will be working with. You are welcomed to
        ask any questions you may have about the skills and technologies
        implemented in the project.
      </p>
      <p>
        If you are considering multiple vacancies for different projects, we can
        arrange separate technical interviews that will focus on the required
        skills for each individual project.
      </p>
      <span>2</span>
    </div>
      <div class="recruitment__cards__1440__arrows">
        <img class="hill" src="./assets/img/Group_15459.svg" alt="" />
      </div>
  </div>
</div>
