.recruitment {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 172px;
  background: #d5d4d9;
  overflow: hidden;
  &__process {
    &__header {
      h2 {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: -1px;
      }
    }
    &__content {
      p {
        width: 279px;
        font-weight: 500;
        font-size: 16px;
        line-height: 29px;
        color: #485563;
      }
    }
  }
  &__cards__1440 {
    display: none;
  }
  &__cards {
    position: relative;
    &__first {
      position: relative;
      height: 514px;
      padding: 0 24px;
      padding-top: 32px;
      background: linear-gradient(0deg, #ffffff, #ffffff),
        linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
      box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
        0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
        0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
      border-radius: 16px;
      h3 {
        margin-top: 0;
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        text-transform: uppercase;
        color: #545460;
      }
      h2 {
        width: 232px;
        height: 70px;
        margin: 0 auto;
        font-weight: 800;
        font-size: 29px;
        line-height: 35px;
        letter-spacing: -1px;
        color: #202523;
      }
      p {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #596067;
        z-index: 10;
      }
      span {
        display: block;
        position: absolute;
        top: 230px;

        font-weight: 900;
        font-size: 260px;
        line-height: 260px;
        letter-spacing: -1px;
        color: #efdcfb;
        z-index: 1;
        left: 50px;
      }
      &__arrows {
        position: relative;
        height: 155px;

        .hill {
          display: block;
          position: absolute;
          top: 10px;
          left: -45px;
        }
      }
    }
    &__second {
      position: absolute;
      top: 0px;
      right: -290px;
      width: 280px;
      height: 514px;
      background: linear-gradient(0deg, #ffffff, #ffffff),
        linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
      box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
        0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
        0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
      border-radius: 16px;
    }
    &__change {
      ul {
        display: flex;
        position: absolute;
        list-style-type: none;
        bottom: -150px;
        left: 40px;
        li {
          margin-left: 8px;
          a {
            width: 16px;
            height: 16px;
            display: block;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.09);
            &:hover {
              width: 40px;
              background: linear-gradient(0deg, #18e8a4, #18e8a4),
                linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
              box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09),
                0px 6px 8px rgba(0, 0, 0, 0.09), 0px 4px 4px rgba(0, 0, 0, 0.09),
                0px 2px 2px rgba(0, 0, 0, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.09);
              border-radius: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .recruitment {
    width: 1440px;
    padding: 0 90px;
    padding-top: 100px;
    padding-bottom: 210px;
    &__process {
      display: flex;
      &__header {
        width: 363px;
        height: 204px;
        margin-right: 285px;
        h2 {
          width: 363px;
          font-size: 62px;
          line-height: 62px;
        }
      }
      &__content {
        width: 612px;
        p {
          font-size: 24px;
          line-height: 37px;
          width: 612px;
          color: #485563;
        }
      }
    }
    &__cards {
      display: none;
    }
    &__cards__1440 {
      display: flex;
      position: relative;
      &__arrows {
        position: absolute;
        bottom: -140px;
        left: -80px;
      }
      &__cards {
        width: 620px;
        height: 457px;
        padding-top: 56px;
        padding-left: 24px;
        background: linear-gradient(0deg, #ffffff, #ffffff),
          linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
        box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
          0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
          0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
        border-radius: 16px;
        h3 {
          width: 150px;
          font-weight: bold;
          font-size: 14px;
          line-height: 15px;
          text-transform: uppercase;
          color: #545460;
          margin-bottom: 16px;
        }
        h2 {
          width: 300px;
          font-weight: 800;
          font-size: 36px;
          line-height: 110%;
          letter-spacing: -1px;
          color: #202523;
          margin-bottom: 16px;
          margin-top: 0;
        }
        p {
          width: 300px;
          font-weight: 500;
          font-size: 16px;
          line-height: 25px;
          color: #596067;
        }
        span {
          font-weight: 900;
          font-size: 340px;
          line-height: 340px;
          position: absolute;

          right: 0px;
          bottom: 0px;
        }
      }
      &__first {
        margin-right: 20px;
        position: relative;
        span {
          color: #efdcfb;
        }
      }
      &__second {
        position: relative;
        span {
          color: #cfecfa;
        }
        & :nth-child(4) {
          position: absolute;
          width: 248px;
          right: 24px;
          top: 183px;
          z-index: 10;
        }
      }
    }
  }
}
